.text-brand {
  color: var(--color-brand-normal);
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.text-bold {
  font-weight: 600;
}

.text-brand-dark {
  color: var(--color-brand-dark);
}
