.carousel-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  padding: 0;
  fill: var(--color-primary-dark);
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid;
  cursor: pointer;
  flex-shrink: 0;

  &.next {
    transform: rotate(180deg);
  }

  &:hover {
    background-color: var(--color-primary-dark);
    fill: var(--color-primary-light);
  }
}
