.chefs-section {
    &__title {
        position: relative;
        margin: 0 auto 80px;
    }

    &__list {
        display: flex;
        gap: 40px 30px;
        padding: 0;
        /* flex-wrap: wrap; */
    }
    
    &__item {
        flex-basis: calc(100% - 30px / 2);
    }

    &::before,
    &::after {
        position: absolute;
        bottom: 24px;
        width: 352px;
        border: 2px solid var(--color-brand-light);
        content: '';
    }

    &::before {
        left: 0;
    }

    &::after {
        right: 0;
    }
}






